.btn-all-nodes{
    margin: 10px 5px 0 15px;
    background: #eaeaea;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    border-radius: 3px;
}
.btn-all-nodes:hover{
    background: #ddd;
}

.btn-all-nodes .btn-icon{
    font-size: 0.6em;
    margin-left: 8px;
    opacity: 0.6;
}

.topic-list-page{
    margin-top: 15px;
    background: #fff;
}


.sidebar .panel{
    margin-top: 15px;
}

.sidebar ul {}

.sidebar ul li{
    padding: 10px 15px;
    border-top: 1px solid #eaeaea
}
.sidebar ul li:first-child{
    border-top: none;
}

.sidebar ul li i,
.sidebar ul li .anticon{
    margin-right: 5px;
    font-size: 1.2em;
}
